<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fulhaus Tech Test</title>
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:100,300,400&display=swap">
    <!-- bootstrap linked-->
    <link rel="stylesheet" href="./css/bootstrap.css" />

</head>

<body>
    {{> header}}
    <div class="banner">
        <div class="main_content">
            <img class="banner_img" src="./img/patio.jpg" alt="banner">
            <div class="button-div">
                <div class="topic">Patio Furniture</div>
                <button class="button" type="button" name="button">SHOP</button>
            </div>
            <div class="container-fluid  m-0  align-items-center  justify-content-center d-flex"
                style="min-height: 100vh;padding:40px;">

                <!-- Row for the card-->
                <div class="row w-100 p-0 w-0">
                    <!-- Column for card-->
                    <div class="col-lg-4 mb-2">
                        <div class="card mx-auto" style="width:24rem;">
                            <div class="content_img">
                                <img class="card-img-top" src="./img/table.jpg" alt="Card image cap">
                                <div class="card mx-auto" id="cardbody" style="width:24rem;">
                                    <div class="prod_name">Product Name</div>
                                    <div class="brand_name">Brand Name</div>
                                    <div class="aParent">
                                        <div class="addtocart">
                                            <span>+ Add to Cart</span>

                                        </div>
                                        <div class="price">
                                            <span>$900</span>

                                        </div>
                                    </div>


                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- Another column for card -->
                    <div class="col-lg-4 mb-2">
                        <div class="card mx-auto" style="width:24rem;">
                            <div class="content_img">
                                <img class="card-img-top" src="./img/table.jpg" alt="Card image cap">
                                <div class="card mx-auto" id="cardbody" style="width:24rem;">
                                    <div class="prod_name">Product Name</div>
                                    <div class="brand_name">Brand Name</div>
                                    <div class="aParent">
                                        <div class="addtocart">
                                            <span>+ Add to Cart</span>

                                        </div>
                                        <div class="price">
                                            <span>$900</span>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- Another column for card -->
                    <div class="col-lg-4 mb-2">
                        <div class="card mx-auto" style="width:24rem;">
                            <div class="content_img">
                                <img class="card-img-top" src="./img/table.jpg" alt="Card image cap">
                                <div class="card mx-auto" id="cardbody" style="width:24rem;">
                                    <div class="prod_name">Product Name</div>
                                    <div class="brand_name">Brand Name</div>
                                    <div class="aParent">
                                        <div class="addtocart">
                                            <span>+ Add to Cart</span>

                                        </div>
                                        <div class="price">
                                            <span>$900</span>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- Another column for card -->
                    <div class="col-lg-4 mb-2">
                        <div class="card mx-auto" style="width:24rem;">
                            <div class="content_img">
                                <img class="card-img-top" src="./img/table.jpg" alt="Card image cap">
                                <div class="card mx-auto" id="cardbody" style="width:24rem;">
                                    <div class="prod_name">Product Name</div>
                                    <div class="brand_name">Brand Name</div>
                                    <div class="aParent">
                                        <div class="addtocart">
                                            <span>+ Add to Cart</span>

                                        </div>
                                        <div class="price">
                                            <span>$900</span>

                                        </div>
                                    </div>
                                </div>


                            </div>

                        </div>
                    </div>

                    <!-- Another column for card -->
                    <div class="col-lg-4 mb-2">
                        <div class="card mx-auto" style="width:24rem;">
                            <div class="content_img">
                                <img class="card-img-top" src="./img/table.jpg" alt="Card image cap">
                                <div class="card mx-auto" id="cardbody" style="width:24rem;">
                                    <div class="prod_name">Product Name</div>
                                    <div class="brand_name">Brand Name</div>
                                    <div class="aParent">
                                        <div class="addtocart">
                                            <span>+ Add to Cart</span>

                                        </div>
                                        <div class="price">
                                            <span>$900</span>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- Another column for card -->
                    <div class="col-lg-4 mb-2">
                        <div class="card mx-auto" style="width:24rem;">
                            <div class="content_img">
                                <img class="card-img-top" src="./img/table.jpg" alt="Card image cap">
                                <div class="card mx-auto" id="cardbody" style="width:24rem;">
                                    <div class="prod_name">Product Name</div>
                                    <div class="brand_name">Brand Name</div>
                                    <div class="aParent">
                                        <div class="addtocart">
                                            <span>+ Add to Cart</span>

                                        </div>
                                        <div class="price">
                                            <span>$900</span>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

           
        </div>

    </div>

</body>

</html>